.container,
.container-sm,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  //   @include media('>small') {
  //     padding-left: 24px;
  //     padding-right: 24px;
  //   }
}

.container {
  max-width: 1080px + (24px * 2);
}

.container-sm {
  max-width: 896px + (24px * 2);
}

.container-xs {
  max-width: 620px + (24px * 2);
}

[class*='container'] {
  [class*='container'] {
    padding-left: 0;
    padding-right: 0;
  }

  .container-sm {
    max-width: 896px;
  }

  .container-xs {
    max-width: 620px;
  }
}
